.toast {
  position: fixed;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px $errorColor;
  left: 50%;
  top: 78px;
  transform: translate(-50%, -50%);
  padding: 15px;
  min-width: 300px;
  min-height: 18px;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: $errorColor;
  color: $white;
  transition: opacity 0.3s;
}

.hide {
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
}

@media (max-width: 768px) {
  .modal {
    padding: 1.5rem;
    width: 80%;
  }
}
