$white: #ffffff;
$lightGray: #eaeef0;
$mediumGray: #b8b8b8;
$darkGray: #aaaaaa;
$darkestGray: #727272;
$black: #333333;

$successColor: #66a182;
$warningColor: #e9bc27;
$errorColor: #ff6766;
$incorrectColor: $darkestGray;
$focusColor: #7d7de1;

$successDelayReveal: 1500ms;
$flipReveal: 550ms;
$modalDelayReveal: $successDelayReveal + 300ms;
