$white: #ffffff;
$lightGray: #eaeef0;
$mediumGray: #b8b8b8;
$darkGray: #aaaaaa;
$darkestGray: #727272;
$black: #333333;

$successColor: #66a182;
$warningColor: #e9bc27;
$errorColor: #ff6766;
$incorrectColor: $darkestGray;

$successDelayReveal: 1500;
