.header {
  color: $black;
  margin-bottom: 10px;
}

.sectionWithButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 15px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

%headerButton {
  border-radius: 100%;
  width: 26px;
  height: 26px;
  color: $white;
  background-color: $darkGray;
}

.helpButton {
  @extend %headerButton;
  transition: 200ms;
}

.resultsButton {
  @extend %headerButton;

  &:hover {
    transition: opacity 300ms 0ms;
  }
}

.valueToGuess {
  font-weight: bold;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms 0ms;
}

.show {
  opacity: 1;
  transition: opacity 300ms $modalDelayReveal;
}
