.header {
  color: $black;
  margin-bottom: 10px;
}

.sectionWithButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 15px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    $errorColor 0% 43%,
    $warningColor 43% 68%,
    $successColor 68%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

%headerButton {
  border-radius: 100%;
  width: 26px;
  height: 26px;
}

.helpButton {
  @extend %headerButton;
  color: $white;
  transition: 200ms;
}

.resultsButton {
  @extend %headerButton;
  border: 1px solid $darkGray;

  &:hover {
    transition: opacity 300ms 0ms;
  }
}

.valueToGuess {
  font-weight: bold;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms 0ms;
}

.show {
  opacity: 1;
  transition: opacity 300ms $modalDelayReveal;
}
